<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {%  csrf_token %}
        <label for="" >name</label>
        <input type="text" name="name" value="{{edit1.name}}">
        <label for="" >description</label>
        <input type="text" name="description"value="{{edit1.description}}">
        <button type="submit">submit</button>
    </form>
   
</body>
</html>